@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ede9ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, #ede7ff 0%, #f4f0ff 50%, #ffffff 100%);
  background-attachment: fixed;
}

.bg-dusky-flow {
  background: linear-gradient(180deg, #ede7ff 0%, #f4f0ff 50%, #ffffff 100%);
}
